.sign-up-form {
  height: 100%;

  &-grid {
    height: 100%;

    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  &-or {
    text-align: center;
  }
}
